.CastWrapper {
  background: rgba(88, 88, 88, 0.4);
  border-radius: 15px;
  margin-top: 75px;
}

.Title {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.2;
  color: #ffffff;
  margin-left: 13px;
  margin-top: 8px;
  margin-bottom: 6px;
}
.ActorsList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 71px 0 71px;
  padding: 0;
  list-style: none;
}

.ActorsListItem {
  width: calc((100% - 250px) / 6);
  margin-right: 50px;
  margin-bottom: 50px;
  align-self: baseline;
}
.ActorsListItem:nth-child(6n) {
  margin-right: 0;
}

.ActorImage {
  width: 170px;
  height: 254px;
  border-radius: 10px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}

.ActorName {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #ffffff;
  padding-top: 5px;
  margin: 0;
}

.ActorCharacter {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  color: #585858;
  padding-top: 5px;
  margin: 0;
}
